.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ddd;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.nodes-panel {
  width: 200px;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.flow-area {
  flex-grow: 1;
  position: relative;
}

.settings-panel {
  width: 300px;
  background: #fff;
  border-left: 1px solid #ddd;
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.save-button{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px rgb(68, 8, 165) solid;
  color: rgb(68, 8, 165);
  font-weight: bold;
  margin-right: 50px;
}

.flow-builder-div{
  display: flex;
  height: 100vh;
  flex-grow: 1;
    
}

.container{
  flex-grow: 1;
  position: relative;
}

.selected-node{
  width: 300px;
  background: #fff;
  border-left: 1px solid #ddd;
  padding: 10px; 
  position: relative;
}

.custom-node-container{
  border-radius: 5px; 
  border: 1px solid #ddd;
  background: #fefefe;
  width: 150px;
  text-align: center;
}

.data-label{
  font-weight: bold;
  background: rgb(80, 193, 168);
  padding: 2px;
}

.data-text{
  padding: 7px;
}